@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

@import "reset.css";

/*components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/dot.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";

/*screens*/
@import "screens/login.css";
@import "screens/variables.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  color: rgba(0, 0, 0, 0.75);
  font-family: "Jua", sans-serif;
}
.main-screen {
  padding: 100px var(--horizontal-space);
}
