.user-component {
  justify-content: space-between;
  padding-top: var(--horizontal-space);
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 75px;
  height: 75px;
  border-radius: 40%;
  margin-right: 20px;
}
.user-component__title {
  font-weight: bold;
  font-size: 25px;
}
.user-component__subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
}
.user-component__column-num {
  font-size: 20px;
}
.user-component__avatar--xl {
  width: 85px;
  height: 85px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
}
.user-component__title--not-bold {
  font-weight: normal;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__time {
  margin-bottom: 10px;
  display: block;
  color: rgba(0, 0, 0, 0.25);
  font-size: 18px;
}
.user-component__badge {
  width: 30px;
  height: 30px;
}
.user-component__column .more-i {
  color: rgba(0, 0, 0, 0.7);
  font-size: 35px;
}
.user-component__subtitle i {
  font-size: 20px;
  color: orangered;
}
.user-component__ch,
.user-component__talk {
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.user-component__ch i {
  color: white;
  font-size: 38px;
  transform: scaleX(0.85);
}
.avatar__ch,
.user-component__talk span {
  position: absolute;
  color: chocolate;
  font-size: 22px;
}
.user-component__talk i {
  color: white;
  font-size: 45px;
}
.user-component__talk span {
  font-size: 18px;
}
